# These files are excluded during vsce package
.azure-pipelines/**
.config/**
.devcontainer/**
.github/**
.husky/**
.idea/**
.vscode-test/**
.vscode/**
api/**
build/**
dist/**
docs/**
grammar/*.g4
grammar/*.md
node_modules/**
out/**
packages/**
src/**
test/**
testOutput/**
testWorkspace/**
**/*.gif
**/*.map
*.mongo
*.tgz
*.ts
*.zip
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.nvmrc
.prettierrc
.swcrc
.travis.yml
eslint.config.mjs
extension.bundle.ts
jest.config.js
main.ts
prettier.config.mjs
progress.md
gulp*
stats.json
test-results.xml
tsconfig.*
webpack.config*
work-summary.md
