// ----------------------------------------------------------------------------
// Minima Custom Variables
// ----------------------------------------------------------------------------
// This file allows you to override Sass variables and mixins BEFORE they are
// used in the theme. This is useful for changing colors, fonts, spacing, etc.
//
// NOTE: This file is imported BEFORE base styles, so you can only override
// variables here, not actual CSS styles. For style overrides, use custom-styles.scss
// ----------------------------------------------------------------------------

// Typography
// ----------------------------------------------------------------------------
// $base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
// $code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace !default;
// $base-font-size:   16px !default;
// $base-font-weight: 400 !default;
// $small-font-size:  $base-font-size * 0.875 !default;
// $base-line-height: 1.5 !default;

// Spacing
// ----------------------------------------------------------------------------
// $spacing-unit:     30px !default;

// Layout widths
// ----------------------------------------------------------------------------
// $content-width:    800px !default;
// $on-palm:          600px !default;
// $on-laptop:        800px !default;
// $on-medium:        1000px !default;
// $on-large:         1200px !default;

// Color variables (skin-agnostic, customizable per skin)
// ----------------------------------------------------------------------------
// The following are examples - actual variables depend on the active skin
// Uncomment and modify as needed:

// Brand colors
// $brand-color:           #2a7ae2 !default;
// $brand-color-light:     lighten($brand-color, 40%) !default;
// $brand-color-dark:      darken($brand-color, 25%) !default;

// Link colors
// $link-base-color:       #2a7ae2 !default;
// $link-visited-color:    darken($link-base-color, 15%) !default;
// $link-hover-color:      #1756a9 !default;

// Text colors
// $text-color:            #111111 !default;
// $background-color:      #fdfdfd !default;
// $code-background-color: #f5f5f5 !default;

// Border colors
// $border-color-01:       lighten($text-color, 60%) !default;
// $border-color-02:       lighten($text-color, 55%) !default;
// $border-color-03:       lighten($text-color, 50%) !default;

// Table colors
// $table-text-color:      $text-color !default;
// $table-zebra-color:     lighten($text-color, 65%) !default;
// $table-header-bg-color: lighten($text-color, 60%) !default;
// $table-header-border:   lighten($text-color, 55%) !default;
// $table-border-color:    $border-color-01 !default;

// Custom mixins
// ----------------------------------------------------------------------------
// @mixin relative-font-size($ratio) {
//   font-size: #{$ratio}rem;
// }

// Media query mixins
// ----------------------------------------------------------------------------
// @mixin media-query($device) {
//   @media screen and (max-width: $device) {
//     @content;
//   }
// }
